<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>创建型模式</string>
		<key>elements</key>
		<array>
			<dict>
				<key>name</key>
				<string>Factory</string>
				<key>path</key>
				<string>Factory</string>
			</dict>
			<dict>
				<key>name</key>
				<string>AbstactFactory</string>
				<key>path</key>
				<string>AbstactFactory</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Singleton</string>
				<key>path</key>
				<string>Singleton</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Builder</string>
				<key>path</key>
				<string>Builder</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Prototype</string>
				<key>path</key>
				<string>Prototype</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>结构型模式</string>
		<key>elements</key>
		<array>
			<dict>
				<key>name</key>
				<string>Bridge</string>
				<key>path</key>
				<string>Bridge</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Adapter</string>
				<key>path</key>
				<string>Adapter</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Decorator</string>
				<key>path</key>
				<string>Decorator</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Composite</string>
				<key>path</key>
				<string>Composite</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Flyweight</string>
				<key>path</key>
				<string>Flyweight</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Facade</string>
				<key>path</key>
				<string>Facade</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Proxy</string>
				<key>path</key>
				<string>Proxy</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>行为模式</string>
		<key>elements</key>
		<array>
			<dict>
				<key>name</key>
				<string>Template</string>
				<key>path</key>
				<string>Template</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Strategy</string>
				<key>path</key>
				<string>Strategy</string>
			</dict>
			<dict>
				<key>name</key>
				<string>State</string>
				<key>path</key>
				<string>State</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Observer</string>
				<key>path</key>
				<string>Observer</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Memento</string>
				<key>path</key>
				<string>Memento</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Mediator</string>
				<key>path</key>
				<string>Mediator</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Command</string>
				<key>path</key>
				<string>Command</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Visitor</string>
				<key>path</key>
				<string>Visitor</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ChainOfResponsibility</string>
				<key>path</key>
				<string>ChainOfResponsibility</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Iterator</string>
				<key>path</key>
				<string>Iterator</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Interpreter</string>
				<key>path</key>
				<string>Interpreter</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
